  <head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <div class="wrapper"> 
    <div class="main">
    <div class="header">
      <h1>To Do List</h1>
    </div>
    <ul id="sortable">
      <li style="display:none">    
        <div class="dragger">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cy="7" cx="9.5" r="1" fill="#999"></circle><circle cy="7" cx="14" r="1" fill="#999"></circle><circle cy="12.5" cx="9.5" r="1" fill="#999"></circle><circle cy="12.5" cx="14" r="1" fill="#999"></circle><circle cy="18" cx="9.5" r="1" fill="#999"></circle><circle cy="18" cx="14" r="1" fill="#999"></circle></svg>
        </div>
        <input type="checkbox"/>
        <label>
          <div class="checkbox"><span class="fa fa-check"></span></div>
          <span class="item-name"></span>        
          <input type="text">
        </label>
        <div class="actions"> 
          <span class="fa fa-pencil"></span>
          <span class="fa fa-trash"></span>        
        </div>
      </li>
      <li class="priority">
        <div *ngFor="let item of items; let i = index">
          <input type="checkbox" id="{{i}}" />
          <label for="{{i}}">
            <div class="checkbox" ><span class="fa fa-check" ></span></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cy="7" cx="9.5" r="1" fill="#999"></circle><circle cy="7" cx="14" r="1" fill="#999"></circle><circle cy="12.5" cx="9.5" r="1" fill="#999"></circle><circle cy="12.5" cx="14" r="1" fill="#999"></circle><circle cy="18" cx="9.5" r="1" fill="#999"></circle><circle cy="18" cx="14" r="1" fill="#999"></circle></svg>
            <span class="item-name">{{item.description}}</span>
            <input type="text">
            <div class="actions">
              <span class="fa fa-pencil"></span>
              <span class="fa fa-trash"></span>
            </div>
          </label>
        </div>
      </li>
    </ul>
    <div class="add">
      <div class="add-txt">
        <input type="text" name="add">
        <div>
          <span class="fa fa-plus"></span>
        </div>
      </div>
    </div>
  </div>